<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">

    <!-- jQuery    -->
<!--
    <script type="text/javascript" charset="utf8" src="/static/js/jquery-1.10.2.min.js"></script>
    -->
    <script src="/static/lib/jquery-1.7.2.min.js" type="text/javascript"></script>


    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
    <title></title>
</head>
<body>

    </tbody>
</table>
      <script type="text/javascript">
                    $(document).ready( function () {
                $('#table_id').DataTable({
         "scrollY": "200px",
                "scrollCollapse": "true",
                 "paging": "false"                });
            } );
    </script>
</body>
</html>